# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vvzsmuwcwekgjvmkwxjs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key

# OneSignal Push Notifications
NEXT_PUBLIC_ONESIGNAL_APP_ID=889340b5-5778-4caa-aa14-526b844179b6
ONESIGNAL_REST_API_KEY=os_v2_app_rcjubnkxpbgkvkqukjvyiqlzwyltkwxn6xreudebohxmw2quiqd3hbotnboxqrszutf4x2b2ni5chf5rt357mb2r7nhygk7vvb6e3uq

# App URL
NEXT_PUBLIC_APP_URL=https://medcontroll.vercel.app

# Cron Secret
CRON_SECRET=sua_cron_secret
